//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$current-menu-item-background: #B5B5B5;
$hover-menu-item-background: #B5B5B5;
// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

#login h2{
  color: #FFF;
  background: #006400;
}
#login input[type="submit"] {
  background: #006400;
  color: #FFF;
}
#login a {
  color: #FFF;
}
#header {
  background: #006400;
}
#header h1 {
  color: #FFF;
}
#header a {
  color: #FFF;
}
#new-injury-btn {
  color: #FFF;
  background: lighten(#006400, 2%);
}
