//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
$table-stripe-color: #F3F3F3 !default;
$current-menu-item-background: #B5B5B5;
$hover-menu-item-background: #B5B5B5;
$text-color: #323537 !default;
$link-color: #38678b !default;
$section-header-text-color: #5E6469 !default;
$table-selected-color: #d9e4ec !default;

$error-color: #932419 !default;
$blank-slate-primary-color: #AAA !default;
$breadcrumbs-color: #8a949e !default;
$breadcrumbs-separator-color: #aab2ba !default;
$required-field-marker-color: #aaa !default;
$div-label-color: $section-header-text-color !default;
$page-header-text-color: #FFF !default;



// Active Admin's got SASS!
@import "active_admin_sidebar";
@import "active_admin/mixins";
@import "active_admin/base";

#login h2{
  color: #FFF;
  background: #006400;
}
#login input[type="submit"] {
  background: #006400;
  color: #FFF;
}
#login a {
  color: #FFF;
}
#new-injury-btn {
  color: #FFF;
  background: lighten(#006400, 2%);
}
a.btn-athlete {
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  color: #FFF;
  background: #006e00;
  background-image: linear-gradient(180deg, #007F00, #006F00);
  text-shadow: #000 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  cursor: pointer;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
}
#header {
  background: #006400;
}
#title_bar h2 {
  color: #006400;
}
div input[type=submit], div input[type=button], div input[type=submit]:hover, div input[type=button]:hover  {
  background-image: linear-gradient(180deg, #007F00, #006F00) !important;
}
form.button_to, div.dash_buttons {
  display: inline;
}
